.events {
    margin:0;
    padding:0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-x: hidden;
}

.events  .slide {
    position: relative;
    padding: 25vh 10%;
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
    transform-style: inherit;
}

.events .slide, .slide:before {
    background: 50% 50% / cover;
}

.events  .slide:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
}

.events  #slide1 {
    background-image: url("../img/sakura_con.jpg");
    background-attachment: fixed;
}

.events  #slide2 {
    background-image: url("../img/lunar_new_year.jpg");
    background-attachment: fixed;
}

.events  #slide3 {
    background-image: url("../img/SIMAC.png");
    background-attachment: fixed;
}

.events  #slide4 {
    background-image: url("../img/wushu_collegiates.jpg");
    background-attachment: fixed;
}
