.hidden {
    visibility: hidden;
}

#content {
    background-color: #ffffff;
}

#albumYears{
    display: inline-block;
    position: fixed;
    horiz-align: center;
}

.photo {
    max-width: 250px;
    border: 10px solid #DDD;
    margin-right: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
    transition: all 0.5s;
}

.enlarged {
    max-width: 800px;
    horiz-align: center;
}

.photo:hover {
    /* -webkit-transform: scale(1.5, 1.5) ; for safari */
    transform: scale(1.5, 1.5);
}