#content {
    background: url("../img/wushuHome.jpg") 50% 50% / cover;
}

#wushuDescription {
    line-height: 3em;
}

.home {
    width: 75%;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

.col-md-6 {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
    padding-top: 1em;
}

.btn {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    background: #4b2e83;
    color: #ffffff;
}
.btn:hover, .btn:active {
    background: #b7a57a;
    color: #ffffff;
}
