#content {
    background: url("../img/wushuHome.jpg") 50% 50% / cover;
}

#wushuDescription {
    line-height: 2em;
}

.home {
    width: 75%;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1em;
}

.homepagePhoto {
    height: 400px;
    width: 300px;
    padding: 1em;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.row {
    padding-bottom: 1em;
}

.btn, .btn:focus {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    background: #4b2e83;
    color: #ffffff;
}

.btn:hover, .btn:active {
    background: #b7a57a;
    color: #ffffff;
}
