.home {
    width: 75%;
    display: inline-block;
    opacity: .9;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

body {
    background-color: #4b2e83;
}

#promoVideo {
    padding-top: 25px;
    text-align: center;
}

.col-md-6 {
    padding: 2em;
}