ul#menu {
    padding: 0;
    margin-bottom: 11px;
}

ul#menu li {
    display: inline;
    margin-right: 3px;
}

ul#menu li a {
    background-color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    color: #696969;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    color: white;
    background-color: black;
}

footer {
    background-color: #FC892F;
    border-top: 5px solid #EC791F;
    font-size: 80%;
    text-align: right;
}


/* ======= Header ======= */
.header {
    padding: 15px 0;
    background: #fff;
    z-index: 9999;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
.header h1.logo .logo-title {
    vertical-align: middle;
}
.header .main-nav button {
    background: #0b2c2c;
    color: #fff !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.header .main-nav button:focus {
    outline: none;
}
.header .main-nav button .icon-bar {
    background-color: #fff;
}
.header .main-nav .nav .nav-item {
    font-weight: normal;
    text-transform: uppercase;
    margin-right: 5px;
}
.header .main-nav .nav .nav-item.active a {
    color: #28a5a8;
    background: none;
}
.header .main-nav .nav .nav-item a {
    color: #444444;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    font-size: 14px;
    padding: 15px 10px;
}
.header .main-nav .nav .nav-item a:hover {
    color: #28a5a8;
    background: none;
}
.header .main-nav .nav .nav-item a:focus {
    outline: none;
    background: none;
}
.header .main-nav .nav .nav-item a:active {
    outline: none;
    background: none;
}
.header .main-nav .nav .nav-item.active {
    color: #28a5a8;
}
.header .main-nav .nav .nav-item.last {
    margin-right: 0;
}
