body {
    font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 300;
}


/* ======= Header ======= */
.header {
    padding: 10px 0;
    background: #fff;
    z-index: 9999;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}
.header h1.logo {
    margin-top: 7px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px;
    max-height: 50px;
}

.header h1.logo .logo-title {
    vertical-align: middle;
    color: #4b2e83;
}
.header .main-nav button {
    background: #0b2c2c;
    color: #fff !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.header .main-nav button:focus {
    outline: none;
}

.header .main-nav .nav .nav-item {
    font-weight: normal;
    text-transform: uppercase;
    margin-right: 5px;
}

.header .main-nav .nav .nav-item a {
    color: #4b2e83;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    font-size: 14px;
    padding: 15px 10px;
}

.header .main-nav .nav .nav-item a:hover {
    color: #b7a57a ;
    background: none;
}

.header .main-nav .nav .nav-item a:focus {
    outline: none;
    background: none;
}

.footer {
    font-size: 12px;
    text-align: right;
}

#content {
    padding: 0;
    width: 100%;
    text-align: center;
}

.container-fluid {
    padding: 0;
}
