*{
    margin: 0px;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.slide {
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    position: relative;
}

.description {
    float: right;
    background-color: rgba(255,255,255, 0.8);
    background-attachment: fixed;
    margin-top: 15%;
    margin-left: 35%;
    margin-right: 10%;
    width: 50%;
    padding: 5%;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
}

#navEvents{
    width: 50px;
    height: 165px;
    position: fixed;
    top: 50%;
    left: 0;
    margin-top: -82.5px;
    z-index:1;
    list-style: none;
}
#navEvents li{
    width: 15px;
    height: 15px;
    background-color: ghostwhite;
    border: 5px solid ghostwhite;
    margin: 12.5px;
    cursor: pointer;
    border-radius: 20px;
    transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
}
#navEvents li:hover, #navBar .current{
    transition-duration: 0.7s;
    -webkit-transition-duration: 0.7s;
    background-color: transparent;
}

/*===== Events =====*/

.events #slide1{
    background-image: url("../img/sakura_con.JPG");
    background-size: cover;
}

.events #slide2{
    background-image: url("../img/lunar_new_year.jpg");
    background-size: cover;
}

.events #slide3{
    background-image: url("../img/SIMAC.png");
    background-size: cover;
}

.events #slide4{
    background-image: url("../img/wushu_collegiates.jpg");
    background-size: cover;
}

.events h2 {
    text-align: center;
    margin-bottom: 3%;
}

.events img {
    width: 50%;
    height: 50%;
    padding: 1em;
}